body{
	background-image: url('bg/body.jpg');
}

.container.testtable {
	background-image: url('bg/chruch.png');
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	margin-top: 10px;
	margin-bottom:20px;
	padding:10px;
	border:1px solid black;
	border-radius:3px;
	opacity:0.95;
}

.test .form-check:not(:nth-child(2)) .form-check-label{
	border-top: 2px solid grey;
}

.form-check-label{
	font-size:13pt !important;
	cursor: pointer;
}
input[type="radio"], input[type="checkbox"] {
	margin-top:0;
}

#formload{
	margin: 0 25px 10px 25px;
}
#countdowntimer{
	position:fixed;
	bottom: 30px;
	right: 30px;
}

.rightAnswer {
	color:green;
	display: inline-block;
	animation: quake 0.3s linear infinite;
}

.right {
	color:green;
}

.partial {
	color:blue;
}

.wrong {
	color: red;
}

@keyframes quake {
    0% { 
		transform: rotate(-0.001turn);
		transform: scale(0.995);
	}
    100% { 
		transform: rotate(0.001turn);
		transform: scale(1.005);
	}
}	

#footer {
	position:fixed;
	background-color:grey;
	bottom:0;
	color:white;
}