body{
	background-image: url('bg/body.jpg');
}

.container.testtable {
	background-image: url('bg/chruch.png');
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	margin-top: 10px;
	margin-bottom:20px;
	padding:10px;
	border:1px solid black;
	border-radius:3px;
	opacity:0.95;
}

#user_data_form_background{
	position:absolute;
	z-index:100;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:black;
	opacity:1;
}

#user_data_form{
	position:fixed;
	z-index:200;
	top:20%;
	left:40%;
	border:1px solid grey;
	border-radius:3px;
	padding:0 20px 20px 20px;
	background-color: rgba(255,255,255,1);
	opacity:1 !important;
	animation: show 0.5s ease-in-out;
}

.test .form-check:not(:nth-child(2)) .form-check-label{
	border-top: 2px solid grey;
}

.form-check-label{
	font-size:13pt !important;
	cursor: pointer;
}
input[type="radio"], input[type="checkbox"] {
	margin-top:0;
}

#formload{
	margin: 0 25px 10px 25px;
}
#countdowntimer{
	position:fixed;
	bottom: 30px;
	right: 30px;
}

.rightAnswer {
	color:green;
	display: inline-block;
	animation: quake 0.3s linear infinite;
}

.right {
	color:green;
}

.partial {
	color:blue;
}

.wrong {
	color: red;
}

@keyframes quake {
    0% { 
		transform: rotate(-0.001turn);
		transform: scale(0.995);
	}
    100% { 
		transform: rotate(0.001turn);
		transform: scale(1.005);
	}
}	

@keyframes show {
    0% { 
		transform:scale(0.01);
	}
    100% { 
		transform:scale(1);
	}
}

#footer {
	position:fixed;
	background-color:grey;
	bottom:0;
	color:white;
}

.checkbox,
.radio {
	display: none;
}
.checkbox-custom,
.radio-custom {
	width: 20px;
	height: 20px;
	border: 2px solid #ccc;
	border-radius: 3px;
	position: relative;
}
.checkbox-custom,
.radio-custom,
.label {
	display: inline-block;
	vertical-align: middle;
}
.checkbox:checked + .checkbox-custom::before,
.radio:checked + .radio-custom::before {
	animation: biggerCheck 0.3s ease-in;
	content: "";
	display: block;
	position: absolute;
	top: 2px;
	right: 2px;
	bottom: 2px;
	left: 2px;
	background: #413548;
	border-radius: 2px;
}
.radio-custom,
.radio:checked + .radio-custom::before {
	animation: biggerRadio 0.3s ease-in;
	border-radius: 50%;
}

@keyframes biggerCheck {
    0% { 
		top: 10px;
		right: 10px;
		bottom: 10px;
		left: 10px;
	}
    100% { 
		top: 2px;
		right: 2px;
		bottom: 2px;
		left: 2px;
	}
}


@keyframes biggerRadio {
    0% { 
		top: 10px;
		right: 10px;
		bottom: 10px;
		left: 10px;
		border-radius: 50%;
	}
    100% { 
		top: 2px;
		right: 2px;
		bottom: 2px;
		left: 2px;
		border-radius: 50%;
	}
}